/* Global/universal selector. Style is applied to each element on this website. */
* {
  margin: 0; /* sets margins (top, bottom, left, right) to 0 */
  padding: 0; /* sets paddings (top, bottom, left, right) to 0 */
  box-sizing: border-box; /*sets the box-sizing to border-box */
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif; /* sets the default font for the body of the website to Arial. If Arial is not available, it sets to Helvetica. If Helvetica is not available, it sets to sans-serif */
  color: #383838; /* sets the default text color to #383838 */
  background-color: #f8f8f8; /* sets the default background color of the body of the website to a smoke white (#F8F8F8) */
}

/* Header content*/
.header-content {
  background-color: #ffffff; /* sets the default background color of the header to the white */
  text-align: center; /* sets the text-align of the header content to the center */
}

/* Images */
img {
  max-width: 100%; /* sets the max-width of the images to 100%. In this way they can't be bigger than container width and they are responsive. So, they will look good regardless of the screen size.*/
}

/* Navbar */
.navbar {
  position: fixed;  /* sets the position of navbar to fixed */
  font-size: 1.7rem; /* sets the text-size of navbar to 1.7rem */
  font-weight: 200;  /* sets the font-weight to 200 */
  width: 100%; /*sets the navbar width to cover the full width of the viewport */
  background-color: #404040; /* sets the default background color of the navbar to the dark-grey (#404040) */
  color: #f8f8f8; /* sets the default text color of nav to #f8f8f8 */
}

/* id #cont_old - photo of the Old Town - index.html */
#cont_old {
  padding-left: 2rem; /* sets the left padding of image with id: #count_old to 2rem (32px) */
  margin-top: 2rem; /* sets the top margin of image with id: #count_old to 2rem (32px) */
  margin-bottom: 2rem; /* sets the bottom margin of image with id: #count_old to 2rem (32px) */
}

/* Content styling */
.content {
  background-color: #fff; /*sets the background color of a content class to white(#FFF) */
  padding: 2.5rem; /* sets paddings (top, bottom, left, right) of content class to 2.5rem */
  margin-bottom: 3rem; /* sets the bottom margin of the of a content class to 3rem (48px) */
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4); /* sets the shadow of a content class */
}

/* Footer */
footer {
  background-color: #484848; /* sets the background color of footer to dark-grey (#484848) */
  color: #ffffff; /* sets the text color to #FFFFFF */
  text-align: center; /* sets the text-align of the footer to the center */
}
